package components

templ FormTitle(title string) {
    @FormTitleStyle()
    <div class="form-title">
        {title}
    </div>
}

templ FormTitleStyle() {
    <style>
    .form-title {
        font-size: 40px;
        color: var(--color-black);
        font-weight: bold;
    }
    </style>
}