package components

templ Subtitle(subtitle string) {
    @SubTitleStyle()
    <div class="subtitle">
        {subtitle}
    </div>
}

templ SubTitleStyle() {
    <style>
    .subtitle {
        font-size: 18px;
        color: var(--color-white);
        margin-bottom: 12px;
        margin-top: 0px;
    }
    </style>
}