package components

templ Title(title string) {
    @TitleStyle()
    <div class="title">
        {title}
    </div>
    
}

templ TitleStyle() {
    <style>
    .title {
        font-size: 70px;
        color: var(--color-white);
        font-weight: bold;
        margin-bottom: 12px;
        margin-top: 0px;
    }
    </style>
}