package components

templ VacancyFooterButton() {
    @VacancyFooterButtonStyle()
    <div class="vacancy-footer-button">
        Откликнуться
    </div>
}

templ VacancyFooterButtonStyle() {
    <style>
        .vacancy-footer-button {
            height: 40px;
            width: min-content;
            padding: 0 20px;
            border-radius: 10px;
            color: white;
            background-color: var(--color-primary);
            display: flex;
            align-items: center;
        }
        .vacancy-footer-button:hover {
            background-color: var(--color-primary-hover);
            cursor: pointer;
        }
    </style>
}