package components

templ VacancyFooterButton() {
    @VacancyFooterButtonStyle()
    <div class="vacancy-footer-button">

    </div>
}

templ VacancyFooterButtonStyle() {
    <style>
        .vacancy-footer-button {
            
        }
    </style>
}