package layout

templ Header() {
    @HeaderStyle()
    <div class="header">
        @Menu()
        { children...}
    </div>
}

templ HeaderStyle() {
    <style>
        .header {
            background-image: url("/public/images/header-bg.jpg");
            background-size: cover;
            background-position: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 100px;
        }
    </style>
}