package layout

import "go-fiber/views/components"

templ Menu() {
    @MenuStyle()
    <div class="menu">
        <a href="/">
            <img src="/public/images/logo.svg" />
        </a>
        <div class="menu__right">
            {{ email := ctx.Value("email").(string) }}
            if email == "" {
                <a class="menu__right-link" href="/login">Войти</a>
            } else {
                <div class="user-email">{email}</div>
                <a class="menu__right-link" 
                    hx-get="/logout"
                    hx-trigger="click"
                >Выйти</a>
            }
            @components.LinkButton("/registration") {
                <span>Зарегистрироваться</span>
            }
        </div>
    </div>
}

templ MenuStyle() {
    <style>
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 0;
            max-width: 1290px;
            align-items: center;
            width: 90%;
        }
        .menu__right {
            display: flex;
            gap: 20px;
            align-items: center;
        }
        .menu__right-link {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 16px;
            cursor: pointer;
        }
        .user-email {
            color: #FFFFFF;
            font-size: 16px;
        }
        .menu__right-link:hover {
            color: #9f9f9f;
        }
    </style>
}