package layout

import "go-fiber/views/components"
import "time"

type VacancyCardProps struct {
    Ceratedat time.Time
    Role     string
	Company  string
	Sphere   string
	Salary   string
	Location string
	Email    string
}

templ VacancyCard(props VacancyCardProps) {
    @VacancyCardStyle()
    <div class="vacancy-card">
        <div class="vacancy-card-header">
            @components.VacancyPassTime(props.Ceratedat)
            @components.VacancyCardHeaderContent(props.Role, props.Company)
        </div> 
        <div class="vacancy-card-footer">
            @components.VacancyFooterContent(props.Sphere, props.Salary, props.Location)
            @components.VacancyFooterButton()
        </div>
    </div>
}

templ VacancyCardStyle() {
    <style>
        .vacancy-card {
            max-width: 1296px;
            width: 100%;
            height: 251px;
            padding: 40px;
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 3px 8px 0 rgba(48,150,137,0.16);
            border-radius: 20px;
            background-color: white;
        }
        .vacancy-card-header {
            height: 103px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .vacancy-card-footer {
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
    </style>
}